[Unit]
Description=Uvicorn instanec serving cozyfractal.com
After=network.target

[Service]
WorkingDirectory=/srv/cozyfractal.com
ExecStart=make run-server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
