{% extends "layouts/base.html" %} {% from "macros/macros.html" import showcase_card, icon %} {%
block body %}
<div class="p-8 mt-4 max-w-xl xl:max-w-3xl mx-auto font-serif min-h-screen text-lg flex flex-col">
  <nav>
    <ul class="flex space-x-4 mt-1 justify-end" role="list">
      <li><a href="/cv">CV</a></li>
      <li><a href="https://github.com/ddorn">Github</a></li>
      <li><a href="/showcase" class="!swag-text">Showcase</a></li>
    </ul>
  </nav>

  <article class="mt-4">
    <h1>Diego Dorn</h1>

    <p>I'm trying to make our world a better place for everyone.</p>

    <h2>Preventing risks from AI systems.</h2>
    <ul>
      <li>
        Creation of the
        <a href="https://github.com/CentreSecuriteIA/BELLS"
          >Benchmarks for the Evaluation of LLM Supervision</a
        >
        (BELLS) at <a href="https://www.securite-ia.fr/">CeSIA</a>.
      </li>
      <li>
        Teaching at <a href="https://ml4good.org">10-day summer schools</a> on systemic risk from AI
      </li>
      <li>
        The
        <a href="https://go.epfl.ch/sail">Safe AI Lausanne</a>
        student club
      </li>
    </ul>

    <h2>Developing tools to empower humans.</h2>
    <ul>
      <li><a href="https://github.com/ddorn/pucoti">Pucoti</a>, a purposeful countdown timer</li>
      <li>
        <a href="https://github.com/ddorn/VentFrais">Vent Frais</a>, a deck of cards to foster deep
        discussions
      </li>
      <li>
        An <a href="https://typos.therandom.space/">LLM-based typo fixer</a> on which the user has
        control
      </li>
      <li>
        A
        <a href="https://sprigproofs.org">distributed platform</a>
        to increase confidence in mathematical proofs
      </li>
      <li>
        A training interface for
        <a href="https://www.effectivedisagreement.org/">Effectively Handling Disagreements</a>
      </li>
    </ul>

    <!--
            <h2>Ending animal exploitation.</h2>
            <ul>
                <li>Great vegan receipes (cakes) (others)</li>
            </ul>
-->

    <!-- <h2>Publications.</h2>
            <ul>
                <li></li>
            </ul> -->

    <h2>Fun things.</h2>
    <ul>
      <li>
        <a
          href="https://ddorn.notion.site/Hot-Chocolate-The-Albert-d167970eece548b8935094df712e64ba?pvs=4"
          >My hot chocolate recipe schema</a
        >
      </li>
      <li>A <a href="https://ajanse.me/asciidots/language/">2D esolang</a> I co-created</li>
    </ul>

    <hr />

    <p>Deep ideas that have influenced me and to which I often come back.</p>

    <h2>Recommended readings.</h2>
    <ul>
      <li>
        <a href="https://www.goodreads.com/book/show/197773418-slow-productivity"
          >Slow Productivity</a
        >
        by Cal Newport
      </li>
      <li>
        <a href="https://www.goodreads.com/book/show/525304.Star_Maker">Starmaker</a>
        by Olaf Stapledon
      </li>
      <li>
        Paul Graham's essays, especially
        <a href="https://paulgraham.com/vb.html">Life is Short</a>,
        <a href="https://paulgraham.com/hwh.html">How to Work Hard</a>, and
        <a href="https://paulgraham.com/addiction.html">The Acceleration of Addictiveness</a>
      </li>
      <li>
        If you're considering a PhD in the next 5 years, read the great and detailed
        <a href="https://www.cs.cmu.edu/~harchol/gradschooltalk.pdf">advice from a CMU prof</a> early.
      </li>
      <!-- Axiomatic, Greg Egan -->
      <!--https://jamesclear.com/atomic-habits-summary-->
      <!-- <li>... to be continued</li> -->
    </ul>

    <h2>Great movies.</h2>
    <ul>
      <li>
        <a href="https://www.imdb.com/title/tt14152756/">Seaspiracy</a>, on the catastrophic impact
        of the fishing industry.
      </li>
    </ul>

    <hr />
    <p>
      Some truly wonderful tools and services I've found. More tools should embrace their
      philosophies.
    </p>

      {% macro details_item(name, url, extra, details) %}
      <li>
        {% if details %}
        <details>
          <summary><a href="{{ url }}">{{ name }}</a>, {{extra}}</summary>
          <p>{{details}}</p>
        </details>
        {% else %}
        <a href="{{ url }}">{{ name }}</a>, {{extra}}
        {% endif %}
      </li>
      {% endmacro %}

    <h2>Fantastic Free tools</h2>
    <ul>
      <!-- <li><a href="https://syncthing.net">Syncthing</a>, to synchronize between anything</li>
      <li>
        <a href="https://ublockorigin.com/">uBlock Origin</a>, to remove ads, trackers, and
        annoyances from the web
      </li>
      <li><a href="https://logseq.com/">Logseq</a>, for note-taking</li>
      <li>
        <a href="https://immich.app/">Immich</a>, a great self-hosted Google Photos equivalent
      </li>
      <li><a href="https://actualbudget.org/">Actual Budget</a>, for personal finances</li> -->

      {{
        details_item("Syncthing",
          "https://syncthing.net",
          "to synchronize between anything",
          "")
      }}
      {{
        details_item("uBlock Origin",
          "https://ublockorigin.com/",
          "to remove ads, trackers, and annoyances from the web",
          "")
      }}
      {{
        details_item("Logseq",
          "https://logseq.com/",
          "for note-taking",
          "")
      }}
      {{
        details_item("Immich",
          "https://immich.app/",
          "a great self-hosted Google Photos equivalent",
          "")
      }}
      {{
        details_item("Actual Budget",
          "https://actualbudget.org/",
          "for personal finances",
          "")
      }}
    </ul>

    <h2>Fantastic tools despite being closed.</h2>
    <ul>
      {{
        details_item("Migadu",
          "https://www.migadu.com/",
          "a no-bullshit email provider",
          "Migadu is fantastic. You can have as many mailboxes, domains, and aliases you want. It's extremely customizable and you pay in tiers for what you use (storage & number of emails sent). Better than the 10+ other I've tried. Not for mailing lists.")
      }}
      {{
        details_item("Amazing Marvin",
          "https://amazingmarvin.com/",
          "an extremely customizable personal task management",
          "I've paid for Amazing Marvin since 2021. It can emulate many other task management systems, and I always find a way to build the system I need... without it being overwhelmingly complex!")
      }}
      {{
        details_item("Kagi Search",
          "https://kagi.com/",
          "a paid search engine much better than Google",
          "I have been using it only since 2024, but I find things so much faster, and nicer things too. It downranks ad and tracker loaded websites, you can adjust the weights of websites to see them more or less, and it even surfaces great personal blogs.")
      }}
      {{
        details_item("Beeper",
          "https://www.beeper.com/",
          "a chat applications aggregator",
          "Still a bit hacky, but can show you your messages from 12 chat apps in a single interface. Apart from that, youcan auto-archive chats once you've answered to see only the ones that need attention.")
      }}

    </ul>

    <p class="last-updated">Last updated on 2025-02-15</p>
  </article>
</div>
<style>
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1rem;
  }
  nav ul {
    list-style-type: none;
    list-style-position: outside;
    margin-left: 0;
  }
  li:has(details) {
    list-style: none;
    margin-left: -1rem;
  }
  h1 {
    color: #948ae3;
    color: #fd8e4e;
    color: #98e2f1;
    color: inherit;
    color: #b7ffb7;

    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    font-weight: 700;
  }

  h2 {
    color: #fd8e4e;
    color: #ffe091;
    color: #5ad4e6;
    color: #fc5a70;
    color: #948ae3;
    color: #b7ffb7;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  a {
    color: #ffe091;
  }
  a:hover {
    text-decoration: underline;
  }
  nav a {
    color: #5ad4e6;
    color: #fd8e4e;
    color: #948ae3;
  }

  :focus {
    /* Nice ring */
    outline: 2px solid #5ad4e6;
    outline-offset: 0.2rem;
    border-radius: 0.2rem;
  }

  hr {
    border-color: #888;
    margin: 3rem -1rem;
    border-color: #5ad4e6;
    border-color: #fd8e4e;
    /* border-color: #948ae3; */
  }

  details p {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #fd8e4e;
  }

  .last-updated {
    text-align: right;
    color: #888;
    margin-top: 3rem;
  }
</style>

<script src="{{ url_for('static', path='random.js') }}"></script>
<script>
  // When hovering a details element, open it if the mouse stays on it more than 1s
  document.querySelectorAll('details').forEach((details) => {
    details.addEventListener('mouseover', () => {
      if (details.open) {
        return;
      }
      setTimeout(() => {
        if (details.matches(':hover')) {
          details.open = true;
        }
      }, 800);
    });
  });
</script>
{% endblock %}
