{% extends "layouts/base.html" %}
{% from "macros/macros.html" import fractal, navbar %}


{% block body %}
    {% block background %}

    {% endblock %}

    <div class="relative h-screen w-3/4 mx-auto flex flex-col justify-between">

        <nav class="flex bg-gray-900 z-10 h-12 p-6 border-b border-gray-700 text-xl">
            <div class="flex items-center space-x-4 md:space-x-8 mx-auto">
                {% for item in ["Home", "Game dev", "Blog", "CV", "Contact"] %}
                    <a class="hover:underline text-gray-300"
                       href="/{{ item.replace(' ', '') | lower }}">{{ item }}</a>
                {% endfor %}
            </div>
        </nav>

        <div class="flex-grow pb-4">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}