<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>CozyFractal</title> -->
    <title>{% block title %}Diego Dorn's website{% endblock %}</title>
    <script defer src="https://umami.therandom.space/script.js" data-website-id="20a1b8b7-4c51-499e-95ad-6bf06b178d34"></script>
    <script defer src="/static/umami-tracking.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-gray-900 text-gray-100 relative min-h-screen flex flex-col">
{% block body %}{% endblock %}
</body>
</html>
