{% extends "layouts/base.html" %}
{% from "macros/macros.html" import showcase_card, icon %}
{% block body %}
    <div class="p-8 text-center">
        <h1 class="text-4xl font-bold">CozyFractal</h1>
    </div>

    <div class="grid lg:grid-cols-2 grid-rows-3 lg:grid-rows-2 lg:w-3/4 mx-auto gap-6 h-full flex-grow pb-6">
    {% for url, title, text, img_descr, see_more_url, see_more_text in [
        ("/static/imgs/fractal_spiral.png", "Mathematician", "
Curious and fond of problem solving, I have a soft spot for learning and teaching mathematics. <br><br>My main interests are logic, set theory, descriptive set theory and complexity theory.
        ", "Zoom of the mandelbrot set rendered with a home made tool",
        "/cv", "Curriculum Vitae"),
        ("/static/imgs/asciidots_pi.png", "Computer Science Enthusiast", "
            Always eager to learn how computers work, my playground is filled with
            algorithms, language design, formal verification, distributed systems and procedural generation.
        ", "A program to compute prime numbers written in Asciidots, an esoteric langage created with @aaronjanse",
        "https://gitlab.com/ddorn", "Gitlab projects"),
        ("/static/imgs/flyre_gameplay.png", "Game Developer", "
            I love to create colorful and visually pleasing experiences, and sharpen my problem solving at the same time.
        ", "Flyre, a game made with python and pygame, winner of a one week game jam.",
        "/showcase", "Showcase"),
        ("/static/imgs/diego/diego.png", "",
        "",
        "",
        "https://www.youtube.com/channel/UCN0kVAIU46vvM86CoGtW1Lw",
        "",
        ),
    ] %}
    <a href="{{ see_more_url }}" class=" group
                lg:rounded-xl text-gray-100
                transition transform hover:scale-95
                bg-gray-700 bg-cover bg-center"
         style="background-image: url('{{ url  }}');">
        <div class="h-full p-4
            flex flex-col items-center justify-between space-y-4
            bg-gray-800 bg-opacity-70 text-center
            lg:rounded-xl">
            <h2 class="text-3xl font-bold pt-2">{{ title }}</h2>
            <p class="w-2/3 flex-grow" style="max-width: 20rem">{{ text | safe }}</p>
{#            <p class="text-gray-300 w-4/5 px-2#}
{#                {{ loop.cycle("border-r-4 text-right ml-auto", "border-l-4 text-left mr-auto") }}#}
{#            ">{{ img_descr }}</p>#}
            {% if see_more_text %}
            <p class="bg-elevation-24 p-4 self-end
                transition-colors
                group-hover:bg-purple-700
                group-focus:bg-purple-700
                text-white font-bold rounded-xl">
               {{ see_more_text }} {{ icon("right-arrow") }}</p>
            {% endif %}
        </div>
    </a>
    {% endfor %}
    </div>

{#    <div class="mx-auto md:max-w-screen-xl text-center ">#}
{#        {{ showcase_card("Flyre",#}
{#                "A pixelart shmup with a skilltree.<br><br>Winner of the Pygame Community Easter Jam, that lasted a week.",#}
{#                "flyre.png",#}
{#                "python pygame",#}
{#                youtube="https://www.youtube.com/watch?v=_AwWQzmCyjg",#}
{#                gitlab="https://gitlab.com/ddorn/flyre",#}
{#                itch="https://cozyfractal.itch.io/flyre",#}
{#                jam="https://itch.io/jam/pygame-community-easter-jam"#}
{#            ) }}#}
{#        {{ showcase_card("The Fractal Space",#}
{#                "A random fractal generator. <br><br>Enter your name or anything, get a fractal !",#}
{#                "thefractalspace.png",#}
{#                "python javascript flask",#}
{#                web="https://thefractal.space",#}
{#                gitlab="https://gitlab.com/ddorn/thefractal.space"#}
{#            ) }}#}
{#    </div>#}
    <script src="{{ url_for('static', path='random.js') }}"></script>
{% endblock %}
